.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 200px;
    margin: auto;
    text-align: center;
  }
  button:hover, a:hover {
    opacity: 0.7;
  }
  section, aside, div {
    padding: 10px;
    border-radius: 12px;
  }
  .flex-container{
    display: flex;
  }

  /* Calendar Style */

  #calendar-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 75vh; /* 70% of viewport height */
    width: 100%;
  }
  
  /* On smaller screens */
  @media (max-width: 768px) {
    #calendar-container {
      height: 90vh; /* More height on mobile */
    }
  }