<h1>Welcome to Tudr!</h1>
<div>
    <div class="col">
        <div class = "container-md">
            <h4>What is Tudr?</h4>
            <p>[INSERT TUDR DESCRIPTION]</p>
        </div>
    </div>
    <div class="col">
        <h3>Students:</h3>
        <a href="./login.hbs">Log In</a>     
    </div>
</div>
