<div class="container mt-1">
<body>
    <div class="container">
        <div class="desc">
        <h1>What is Tudr?</h1>
        <br>
        <p>For students who need academic tutoring. Tudr is a matchmaking application that connects students with compatible tutors qualified to meet their academic needs. Tudr helps students find meaningful and lasting tutorships based on its complex matchmaking algorithm.</p>
        </div>  
            <div class="home-form">
            <img class = "mb-4" id="selectedAvatar" src="../../resources/img/logo.png" width="300" height="300">
                <form class = "text-center">
                    <a href="/register" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Register For Tutoring Now! </a>
                    <p>Already have an account? <a href = '/login'>Login</a> </p> 
                </form>
            </div>
        </div>
</body>
</div>
