<div class="card text-start" style="width: 25rem;">
    <div class="card-body">
        <form class="" method="post" action="/login">
            <div class="row">
                <div class="col">
                    <legend>Login</legend>
                    
                    <label for="email" class="form-label">Email</label>
                    <input type="text" name="email" class="form-control"/>
                    
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control"/>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col col-3">
                    <button class="btn btn-primary"  type='submit'>Login</button>
                </div>
                <div class="col">
                    {{!-- Sign in with Google button --}}
                    {{> gsignin}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Don't have an account? <a href = '/register'>Register</a> </p>
                </div>
            </div>
        </form>
    </div>
</div>
