<div>
    <br>
    <div class = "container-md">
        <h1 align="center">Logged out successfully!!</h1>
        <p align="center">Return to login <a href="/login">here</a></p>
    </div>
</div>